@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--clrs-blue-light-);
  color: #333;
  position: relative;
}

main {
  max-width: 120rem;
  margin: 0 30px;
}

.form {
  display: flex;
  margin-bottom: 100px;
  width: 100%;
  margin: 100px auto;
  height: 70vh;
  overflow: hidden;
  border-radius: 12px;
  transition: opacity 0.3s ease;
}

.image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
}

.content {
  width: 50%;
  background-color: var(--clrs-white-);
  padding: 4rem 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#login-content.showErrorMessage::after {
  content: 'Incorrect Credentials 😂 !!!';
  font-weight: bold;
  color: rgb(176, 38, 38);
  font-size: 1.6rem;
}

.content h2 {
  font-size: 3.8rem;
  text-transform: uppercase;
  line-height: 1;
  max-width: 30rem;
  letter-spacing: -1px;
}

.content span {
  display: block;
  font-size: 1.1rem;
  color: var(--clrs-blue-light-);
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

.content h2 span {
  color: var(--clrs-blue-light-);
  font-size: 4rem;
}

.swtich-to-register {
  gap: 0.5rem;
}

input,
button {
  width: 80%;
}

label {
  margin-bottom: 2px;
  font-weight: 500;
}

label + input {
  border-radius: 0.3rem;
  border: 0.5px solid var(--clrs-blue-light-);
  padding: 0.5rem;
  color: var(--clrs-blue-dark-);
  font-weight: 500;
}

label + input:focus {
  outline: none;
}

label + input::placeholder {
  color: rgba(49, 61, 81, 0.33);
}

button {
  background-color: var(--clrs-blue-light-);
  color: var(--clrs-white-);
  padding: 0.4em 1rem;
  border: 1px solid var(--clrs-blue-light-);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--clrs-blue-dark-);
}

.swtich-to-register,
.swtich-to-login {
  color: #333;
  font-weight: bold;
  align-items: center;
  margin-top: -1.5rem;
}

.swtich-to-register span,
.swtich-to-login span {
  color: var(--clrs-blue-light-);
  font-weight: bold;
  font-size: 1.7rem;
  align-self: center;
  margin: 0;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.error {
  border: 1.5px solid rgb(228, 22, 22);
}

.error-message {
  color: rgb(228, 22, 22);
  font-weight: bold;
}

@media (max-width: 1024px) {
  main {
    max-width: 100rem;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 100rem;
  }

  .form {
    flex-direction: column;
    border-radius: 3px;
    height: 100%;
  }

  .image-container {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .content h2 {
    max-width: 100%;
    font-size: 2.2rem;
  }

  .content h2 span {
    font-size: 2.4;
  }

  button,
  input {
    width: 100%;
  }
}
