body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 30rem auto;
  grid-template-rows: 100%;
}

.sidebar {
  background-color: #f4f4f4;
  width: 100%;
  background-color: var(--clrs-blue-dark-);
  color: var(--clrs-white-);
  position: relative;
}

.screen-fixed {
  position: fixed;
  width: 30rem;
}

.content {
  background-color: #ffffff;
  width: 95%;
  margin: 0 auto;
  padding: 3rem;
}

.sidebar p {
  padding: 2rem 1rem;
  border-bottom: 2px solid black;
  margin: 0;
  cursor: pointer;
}

.nav-active {
  background-color: var(--clrs-blue-light-);
}

/* Dashboards */
.icon {
  width: 30px;
}

.title {
  font-size: 3rem;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.status div {
  padding: 4rem;
  border-radius: 12px;
}

.status div:first-child {
  background-color: orange;
}

.status div:nth-child(2) {
  background-color: green;
}

.status div:nth-child(3) {
  background-color: lightskyblue;
}

.status div {
  font-size: 2.7rem;
}

h3 {
  text-transform: uppercase;
  margin-top: 3px;
}

.value {
  font-size: 4rem;
  color: var(--clrs-blue-dark-);
  font-weight: bold;
}

/* Flights : */

.flights {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.flights-header {
  color: var(--clrs-white-);
  background-color: var(--clrs-blue-dark-);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem;
  border-radius: 12px;
}

.flights-title {
  font-size: 3rem;
}

.cancel-save-btns {
  gap: 3rem;
}

.btn {
  padding: 1.2rem 3rem;
  color: var(--clrs-blue-dark-);
  font-weight: bold;
  border: 1px color;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2.4rem;
  border: 2px solid var(--clrs-blue-dark-);
  transition: all 0.3s ease-in-out;
}

.cancel-btn {
  background-color: transparent;
  color: var(--clrs-white-);
}

.cancel-btn:hover {
  border: 1px solid var(--clrs-white-);
}

.save-btn:hover {
  border-radius: 1px solid var(--clrs-blue-dark-);
  background-color: var(--clrs-blue-light-);
  color: var(--clrs-white-);
}

/* Inputs : */

.secondary-header {
  margin-bottom: 1rem;
  color: var(--clrs-blue-dark-);
  font-weight: bold;
  font-size: 3rem;
}

form {
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  gap: 40px;
  margin-top: 0 auto;
  border-radius: 12px;
  background-color: var(--clrs-blue-dark-);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.inputs-wrapper {
  background-color: var(--clrs-blue-dark-);
  padding: 2rem;
  color: var(--clrs-white-);
  max-width: 700px;
  width: 500px;
}

.inputs-wrapper label {
  font-size: 500;
  margin-bottom: 5px;
}

.inputs-wrapper input {
  padding: 0.7rem 1rem;
  border-radius: 3px;
  background-color: #122845;
  border: 1px solid rgba(255, 255, 255, 0.247);
  color: var(--clrs-white-);
  outline: none;
}

fieldset {
  border: none;
}

legend {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clrs-clear-blue-);
}

fieldset > div {
  padding: 1rem;
}

/*Table */
.flights-table {
  width: 100%;
  font-size: 2.2rem;
  border-collapse: collapse;
  border: none;
  color: var(--clrs-blue-dark-);
  background-color: var(--clrs-blue-dark-);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.flights-table th,
.flights-table td {
  border: none;
  padding: 8px;
  text-align: center;
  background-color: var(--clrs-white-);
}

.flights-table td {
  font-size: 1.8rem;
  color: gray;
}

.flight-number {
  width: 10%;
}

.airline,
.departure-date,
.arrival-date,
.departure-airport,
.arrival-airport {
  width: 15%;
}

.flight-number {
  color: var(--clrs-blue-light-) !important;
}

#edit-btn,
#delete-btn {
  margin: 0 auto;
  cursor: pointer;
}

.flights-infos-container {
  overflow: hidden;
}

.add-flight-btn {
  position: absolute;
  top: 3.2rem;
  right: 5rem;
  background-color: var(--clrs-blue-light-);
  color: var(--clrs-white-);
  padding: 1rem 3rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1px solid var(--clrs-blue-light-);
  font-weight: bold;
  font-size: 2.2rem;
  border-radius: 4px;
}

.add-flight-btn:hover {
  background-color: var(--clrs-white-);
  color: var(--clrs-blue-dark-);
  border-radius: 2px solid var(--clrs-blue-dark-);
}
