body,
html {
  height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #112d4e;
  height: 7rem;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 3rem;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 2rem;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  background: #133863;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.bgimg-1,
.bgimg-2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('../../assets/wing.jpg');
  height: 70%;
}

.bgimg-2 {
  background-image: url('../../assets/airplane.avif');
  height: 20rem;
}

.slogan {
  padding-top: 20rem;
  margin-bottom: auto;
  margin: auto;
  max-width: 110rem;
  color: white;
}

.icon {
  max-height: 2rem;
  margin-right: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 110rem;
  margin-top: -15rem;
  z-index: 5;
}

  .tab-buttons {
    display: flex;
    
  }
  
  .tab-button {
    background-color: #e4e3e3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 4rem;
    border-top-left-radius:0.2rem;
    border-top-right-radius:0.2rem;
    margin-right: 0.5rem;
    color:#3f72af;
    text-align: center;

  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab {
    display: none;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #93939385;
  }
  
  select {
    height: 6rem;
    width:20rem ;
    color: black; /* Change the text color of the options */
}

/* Add this CSS to your stylesheet */
#airline {
  color: black; /* Change the text color of the options */
}

#airline option {
  color: black; /* Change the text color of the options */
  background-color: white; /* Change the background color of the options */
}

  
  .details{
    height: 6rem;
    width:20rem ;
    padding:0 2rem; 
 
  }
  
  .btn {
    background-color: #112d4e;
    color: white;
    border-radius: 0.5rem;
    width: 17rem;
  }
  
  .active-tab-button {
    background-color: #ffffff;
    transform-origin: bottom;
    color:#133863;
    
  } 
  
  #search-cesult-container{
    position: relative;
    
  }
  
  .search-result{
    
    position: absolute;
    top:0;
    
    border-bottom: #112D4E;
  }
  
  input{
    background-color: #efeeee;
    border: 0;
    border-radius: 0.5rem;
  } 
  
  table {
    margin: 7rem 0;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border-bottom: solid 0.1rem #112D4E;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .grid__container {
    width:80%;
    margin: 10rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 0;
    box-shadow: 0px 0px 80px rgba(255, 68, 0, 0.1);
  }
  
  .grid {
    height: 500px;
    width: 100%;
    text-align: start;
  }
  
  .grid p {
    line-height: 1.7;
    margin-bottom: 40px;
  }
  
  .grid__2,
  .grid__4,
  .grid__6 {
    padding: 0px 30px;
  }
  
  .grid__2 {
    background-color: #366399;
  }
  
  .grid__4 {
    background-color: #112D4E;
  }
  
  .grid__6 {
    background-color: #dbe2ef;
  }
  
  .grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  
  .grid h3 {
    font-size: 2.8rem;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  
  .grid a:link,
  .grid a:visited {
    cursor: pointer;
    background-color: transparent;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    border: 2px solid gray;
    transition: all 0.3s ease;
  }
  
  .grid a:hover {
    color: hsla(0, 0%, 100%, 0.742);
    background-color: transparent;
    border: 2px solid hsla(16, 81%, 46%, 0.8);
  }
  
  .footer{
    background-color: #112D4E;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  @media (max-width: 600px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }

  nav ul li a {
    font-size: 16px;
  }

    .slogan{
      padding-left: 2rem;
      font-size: large;
    }
    

    .details{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      
    }

  }

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #112d4e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
